.left {
    float: left;
    margin-right: 5px;
}
ul{
    list-style-type: none;
}
.bold{
    font-weight: bold;
}
.myrow {
    border: 1px solid black;
    margin-bottom: 10px;
    width: 400px;
    background-color: bisque;
}